<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>
    Unshave.me | Oops!
  </title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no" />
  <!-- IE
  __________________________________________________ -->
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="http://d30am0anjtu1dn.cloudfront.net/images/favicon.png">

  <style>
    html {
      background: #fff;
    }

    .error-status {
      color: rgba(0, 0, 0, .12);
      font-size: 4rem;
      font-weight: 600;
      margin-top: 2rem;
      text-align: center;
    }

    .error-status-definition {
      text-align: center;
    }

    .error-message {
      color: rgba(0, 0, 0, .56);
      font-weight: 500;
      text-align: center;
    }
  </style>

</head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-90421560-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-90421560-1');
</script>

<body>

  <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id="error" class="container-fluid">
    <div class="row">
      <div class="col">
        <h1 class="error-status">
          <%= status %>
        </h1>
        <h5 class="error-status-definition">
          <%= statusDefinition %>
        </h5>
        <p class="error-message">
          <%= message %>
        </p>
      </div>
    </div>
  </div>

  <!-- Scripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script>
    console.log(<%= `\`${stack}\`` %>);
  </script>

  <!-- End Document
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html