<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/_head', { css: css, title: 'Unshave.me' })%>

  <!-- Third Party Javascript
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</head>

<body>
  <%- include ./partials/_body %>

  <%- include('./partials/_scripts', { js: js }) %>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>